*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

// This is the heading
header{
    display: flex;
    width: 100%;
    height: 7rem;
    background: white;
    align-items: center;
    justify-content: center;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 999;


    
    a{
        text-decoration: none;
        color: #333;
    }


    .logo{
        height: 25px;
        width: 70px;
        position: absolute;
        left: 2rem;
        
    }

    .left{
        margin-left: 2rem;
        justify-content: space-between;

        .a2{
            margin-left: 2rem;
        }
    }

    .right{
        margin-left: 12rem;
        float: right;
        display: flex; 

        .a3{
            margin-right: 2rem;
        }

    }
    form{

        .place{
            border-color:rgb(240, 105, 56) ;
        }
      
        .b1{
           position: absolute;
           right: 16rem;
           border-color:rgb(240, 105, 56) ;
           width: 70px;

           border-radius: 20px;
           color:rgb(240, 105, 56);
           font-weight: bold;
        }

        .b1:hover{
            background:rgb(240, 105, 56);
            color: white;
        }

        .b2{
            margin-left: 7rem;
            background: rgb(240, 105, 56);
            border-radius: 20px;
            text-align: center;
            color: white;
            border: none;
            padding: 7px;
            font-weight: bolder;

        }
        .b2:hover{
            background: orangered;
        }


        .a4{
            position: absolute;
         right: 1.5rem;
        }
    }
    .dropdown-toggle{
        background: none;
        border: none;
        color: #333;
    }
}

// landing page

.f1{
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}
.pp1{
    text-align: center;
    font-size:xx-large;
    margin-top:7rem ;
    color:rgb(240, 105, 56) ;
    margin-bottom: 4rem;
}

.father{

.fimage{
    margin-left: 8rem;
}
.mega{
    height: 100px;
    width: 350px;
    margin-left:15rem ;
    transform: translateY(-4rem);
    font-size: small;

    .mega, a{
        color: rgb(240, 105, 56);
    }


    span{
        color:rgb(240, 105, 56) ;
        font-size: large;
        transform: translateY(-4rem);
    }
 
    

}
}


// join over 19million people part
.father2{

    .fimage2{
        margin-left: 50rem;
        transform: translateY(-31.8rem);
    }
    .mega2{
        height: 100px;
        width: 350px;
        margin-left:57rem ;
        transform: translateY(-35.5rem);
        font-size: small;

        .mega2, a{
            color: rgb(240, 105, 56);
        }
    
    
        span{
            color:rgb(240, 105, 56) ;
            font-size: large;
            transform: translateY(-4rem);
        }
     
    }
}

.big{
    display: flex;
    justify-content: center;
}
.drop{
    justify-content: center;
    transform: translateY(-20rem);
    
}

.kilo{
    text-align: center;
    color: rgb(240, 105, 56);
    transform: translateY(-12rem);
    margin-left: 12rem;
   
}

// freedom to do it yur own part
.grand{
    margin: 2rem;
    span{
        color: rgb(240, 105, 56);
        font-weight: bold;
        font-size: large;
       
    }
}

.father3{
    display: flex;
    margin-left: 3rem ;
    font-size: small;

    .fimage3{
        transform: translateX(-4rem);
    }
    
    .mega3{
        margin-left: 2rem;
        transform: translateX(-4rem);
    }

    
}

// showcase part
.book{
    height: 25rem;
    background: aquamarine;
    align-items: center;
    border-top:dotted  1px black;
    margin-top: 4rem;

    .showcase{
        align-items: center;
        transform: translateY(2.5rem);
    }

    .poo{
        height: 15rem;
        width: 38%;
        background: yellow;
        margin-left: 52rem;
        transform: translateY(-16rem);

        .poo, h1{
            color: rgb(240, 105, 56);
        }

        .kmm{
            font-size: larger;
            color: rgb(240, 105, 56);
        }

        .appstore{
            margin-left: 2rem;
        }
    }
}

.hii{
    text-align: center;
    color: rgb(240, 105, 56);
    margin-top: 13rem;
    margin-bottom: 3rem;
}

.father5{
    height: 34rem;
    background: rgb(223, 224, 226);

    .row1{
        display: flex;
        margin-left: 9rem;
        margin-top: 3rem;
        

        .child{
            margin-left: 1rem;
        }
    }

    .father5, h3{
        text-align: center;
        color: rgb(240, 105, 56);
        margin-top: 2rem;
    }

    .row2{
        display: flex;
        margin-left: 9rem;
        margin-top: 2rem;

        .child2{
            margin-left: 1rem;
        }
    }

    .row3{
        display: flex;
        margin-left: 9rem;
        margin-top: 2rem;

        .child4{
            margin-left: 1rem;
        }
    }

}

.aside-master{

    .aside-left{
        margin-top: 24rem;
        height: 13rem;
        width: 40%;
        transform: translateY(-1rem);
        margin-left: 5rem;

        .aside-left, h1{
            color: rgb(240, 105, 56);
            margin-bottom: 2rem;

            .aside-left, p{
                font-size: large;
            }
        }
    }

.aside-right{   
    margin-left: 49rem;   
    height: 13rem;    
    width: 40%;
    transform: translateY(-24rem);


}
}

.red{
    height: 80rem;
    background: bisque;
}




.button2{
    text-align: center;
    background: rgb(240, 105, 56);
    border-radius: 20px;
    text-align: center;
    color: white;
    border: none;
    padding: 7px;
    font-weight: bolder;
    margin-left: 40rem;
    transform: translateY(-4rem);
    width: 160px;
    
}
.button2:hover{
    background: orangered;
}

footer{
   

    .all{
        display: flex;
        justify-content: center;
        
        .all, img{
            margin-left: 1.4rem;
            margin-top: 1.4rem;
        }
    }
    footer, h3{
        text-align: center;
        color: rgb(240, 105, 56);
        transform: translateX(1.3rem);
        
    }

    .fdiv{
        margin-left: 7rem;
        margin-top: 4rem;
        transform: translateY(3rem);

        .fdiv, p{
            margin-top:2rem ;
            font-size:14px;
        }
    }

    .divlast{
        display: flex;
       margin-left: 30rem;

        .lastp{
            font-size: 14px;
            margin-left: 5rem;
            transform: translateY(-7rem);
            span{
                color: rgb(240, 105, 56);
                font-weight:900;
            }
        }
    }
    .social{
        margin-left: 48rem;
        transform: translateY(-6rem);
       

        .social, img:hover{
            opacity: 0.8;
            cursor: pointer;
            
        }
    }
    .graph{
        font-weight: lighter;
        font-size: small;
        margin-left: 62rem;
        transform: translateY(-8rem);
        cursor: pointer;
       
    }
}

@media(max-width:576px){
   .all, .fdiv, .divlast, .socal, .graph{
    display: grid;
   }
    }
